<ul>
  <li><%= link_to "#{cat_rental_request.cat.name}", edit_cat_rental_request_url(cat_rental_request) %>
    <ul>
      <li><%= cat_rental_request.start_date %></li>
      <li><%= cat_rental_request.end_date %></li>
    </ul>
  </li>
</ul>
